$green: #a6e3a1;

@mixin green-border($pixels-top: 2px, $pixels-left: 2px, $pixels-bottom: 2px, $pixels-right: 2px) {
  border-color: $green;
  border-width: $pixels-top $pixels-left $pixels-bottom $pixels-right;
}

@mixin font-size($size: 30px) {
  font-size: $size;
}

@mixin ml-r-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex-jc-ic {
  display: flex;
  justify-content: center;
  align-items: center;
}