@use 'global';

@include global.fade-down-animation;


.container {
  @include global.green-border();
  @include global.ml-r-auto;
  @include global.md(1300px, 300px);
  @include global.sm(300px, 450px);
  @include global.flex-jc-ic;

  & {
    margin-top: 10px;
    flex-direction: column;
    animation: fade-down;
    animation-duration: 1500ms;
  }
}

.projectsTitle {
  @include global.font-size(40px);
  @include global.flex-jc-ic;
  @include global.green-border(0px, 2px, 2px, 2px);
  & {
    width: 180px;
    height: 60px;
  }
}

.projects {
  & {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    width: 100%;
    margin-bottom: auto;
    @media (width >= 1024px) {
      flex-direction: row;

    }
    @media (width < 640px), (width >= 640px) and (width < 1024px) {
      flex-direction: column;
      gap: 30px;
    }
  }
}

.project {
  @include global.flex-jc-ic;
  @include global.green-border;

  a {
    & {
      @media (width >= 1024px) {
        @include global.font-size(25px);
      }
      @media (width < 640px), (width >= 640px) and (width < 1024px) {
        @include global.font-size(20px);
      }
    }

    &:hover {
      color: #a6e3a1;
    }

    &:active {
      color: #cba6f7;
    }

  }

  .template {
    & {
      display: flex;
      flex-direction: row;
    }
  }

  article {
    & {
      padding-bottom: 5px;
      @media (width >= 1024px) {
        @include global.font-size(20px);
      }
      @media (width < 640px), (width >= 640px) and (width < 1024px) {
        @include global.font-size(15px);
      }
    }
  }

  & {
    padding: 0.5rem;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }
}