@use 'global';

.container {
  @include global.green-border();
  @include global.font-size();
  @include global.ml-r-auto;
  @include global.md(700px, 300px);
  @include global.sm(300px, 400px);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.projectsTitle {
  @include global.font-size(40);
  @include global.flex-jc-ic;
  @include global.green-border(0, 2, 2, 2);
  width: 180px;
  height: 60px;
}